<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
   </ion-buttons> 
    <ion-title>Staus de pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100%; height: auto; display: flex; flex-wrap: wrap; padding-bottom: 17px;">
  <div class="contePrime" *ngFor="let pedido of pedidos">












    <div class="vista centrar "
    
    [ngClass]="{
          'lavanderia':pedido.status=='En lavanderia',
          'encalino1':pedido.status=='En entraga',
          'encalino2':pedido.status=='A lavandería',
          'recojer':pedido.status=='En camino'
    }"
    
    >

      <div class="mitad centrar ">
        <label style="font-size: 13px;">
            <p>{{pedido.nombre}}</p>
            <p>{{pedido.hora}}</p>
        </label>
        
      </div>


      <div class="medio centrar">
        <img (click)="this.efectos.verInfo(pedido)" *ngIf="!pedido.visto" src="{{this.efectos.iconArrowDown}}" width="30px;" style="margin-top: auto; cursor: pointer;">
        <img  (click)="this.efectos.verInfo(pedido)" *ngIf="pedido.visto" src="{{this.efectos.iconArrowUp}}" width="30px;" style="margin-top: auto;  cursor: pointer;">
      </div>

      <div class="mitad centrar">
          <label >
            <p class="centrar" style="font-size:12px;">Status</p>

            <p class="centrar">
              <img src="{{pedido.icon}}" width="30px;" style="margin:4px;" [ngClass]="{'rota-horizontal':pedido.status=='A lavandería'}">
              {{pedido.status}}
            </p>

          </label>

      </div>

    </div>















    <div class="info centrar" id="{{pedido.id}}">
        <div class="scroll1" style="width: 50%;  height: 85%;  background: #414141;">
            <p style="font-size: 13px; color: gold;">Servicios pedidos</p>

            <p *ngFor="let servicio of pedido.servicios"
            style="font-size: 12px; color: white;"> 
              {{servicio}}
          </p>
            

            <br>

          
            <p style="font-size: 13px; color: gold;">Indicaciones</p>

            <p style="font-size: 12px; color: white;">
                En medicina, una indicación es el término que describe una razón válida para emplear una prueba diagnóstica, un procedimiento médico, un determinado medicamento, o técnica quirúrgica. 
            </p>

        </div>



        <div class=" scroll1" style="width: 50%; height: 85%; ">



            <div class="centrar" style="width: 100%; font-size: 12px;color: gold;">

                <div class="centrar"  style="width: 50%; ">
                  <p style="width: 100%; text-align: center;">
                    Ver lavandería
                  </p>
                  <img 
                  (click)="irAlavanderia()"
                  src="{{this.efectos.tienda}}" width="30px" style="cursor: pointer;">
                </div>

                <div  class="centrar" style="width: 50%;  ">
                    <p style="width: 100%; text-align: center;">
                        Ver ruta
                      </p>
                      <img 
                      (click)="irAStatus()"
                      src="{{this.efectos.mapa}}" width="30px" style="cursor: pointer;">
                </div>


              </div>

              <br>

            <p style="font-size: 13px; color: gold;">Costes</p>
            <label style="font-size: 12px; color:white;">
                <p >Transpoter de su domicilo a lavandería:</p>
                <p>$50</p>

            </label>

            <label style="font-size: 12px; color:white;">
                <p>Transpoter de lavandería a su domicilo:</p>
                <p >$50</p>

            </label>

            <label style="font-size: 12px; color:white;">
                <p>Servicos por lavanderia:</p>
                <p >$50</p>

            </label>


            <br>
            <label >
                <p style="font-size: 13px; color:gold;">Kilos de ropa:</p>
                <p style="font-size: 12px; color:white;">10 kg</p>
            </label>

            <label >
                <p style="font-size: 13px; color:gold;">piezas extras:</p>
                <p style="font-size: 12px; color:white;">pieza / tipo</p>
            </label>

            
         

        </div>

        <div style="width: 100%; height: 15%; background: #394a6d;" ></div>

    </div>















  </div>


</div>
</ion-content>