<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
         <ion-back-button ></ion-back-button>
      </ion-buttons>   
      <ion-title>
          Nombre de la lavanderia
      </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content >






















    <div style=" background: #252525; color: white; padding: 1px;">
      <h4>Galeria:</h4>
    </div>
  
    <div class="contenedorSlider centrar">
      
        <ion-slides class="slider centrar">
          <ion-slide *ngFor="let imagen of imagenes">
            <img src="{{imagen}}" >
          </ion-slide>
          
        </ion-slides>
    </div>
    

































    <div style=" padding: 15px;">
      <h4>Datos de la empresa:</h4>

      <label>
        <p class="icon centrarIz">
          <img  src="{{this.efectos.direccion}}" >
          direccion:
        </p>
        <p style="margin-left: 20px;">
          Parque Central Tuxtla Gutiérrez, Chiapas, Zona Sin Asignación de Nombre de Colonia 42, Tuxtla Gutiérrez, Chis.
        </p>
      </label>


      <label >
        <p class="icon centrarIz">
          <img  src="{{this.efectos.iconCel}}" >
          Telefono:
        </p>
        <p  style="margin-left: 20px;">
            000-000-0000
        </p>
      </label>


      <label >
        <p class="icon centrarIz">
          <img  src="{{this.efectos.correo}}" >
          Correo:
        </p>
        <p  style="margin-left: 20px;">
            correo@gmail.com
        </p>
      </label>


      <label >
        <p class="icon centrarIz">
          <img  src="{{this.efectos.horario}}" >
          Horario:
        </p>
        <p  style="margin-left: 20px;">
            Lunes a viernes 08:00 aam - 08:00 pm
        </p>
      </label>


    </div>
 










    <div style=" padding: 15px;" id="services">
      <h4>Servicios</h4>

      <div *ngFor="let servi of servicios">
          <p class="centrarIz " [ngClass]="{'actual':servi.visto==true}">
              <ion-checkbox style="margin: 5px;"
              (click)="seleccionar(servi)"
              ></ion-checkbox>
              {{servi.servicio}}  ${{servi.precio }}  por {{servi.unidad}} 
              
              
              <img 
              [ngClass]="{'UParrow':servi.visto==true}"
              src="{{this.efectos.more}}"  style="width: 22px; margin-left: 10px; cursor: pointer;"
              (click)="this.efectos. viewInfoService(servi)"
              >
          </p>

          <div class="infoServicio centrar" id="{{servi.servicio}}">


            <p>Preferentemente y para brindar un mejor servicio: las prendas deberán ser separadas de la manera en que se prefiera que sean tratadas; por Tipo, Texturas y Colores</p>
            
            <img src="../../../assets/iconos/shutterstock_422824102.jpg" >

          </div>
  
      </div>
      


    </div>



















    <div style=" padding: 15px; margin-bottom: 20px;" id="ofertasX">
      <h4>Promociones y ofertas:)</h4>

      <div *ngFor="let ofert of ofertas">

          <p class="centrarIz " [ngClass]="{'actual':ofert.visto==true}">
             {{ofert.titulo}}
              <img 
             *ngIf="!ofert.visto"
              src="{{this.efectos.promo1}}"  style="width: 22px; margin-left: 10px; cursor: pointer;"
                  (click)="this.efectos.viewOfert(ofert)"
              >


              <img 
              *ngIf="ofert.visto"
              src="{{this.efectos.promo2}}"  style="width: 22px; margin-left: 10px; cursor: pointer;"
              (click)="this.efectos.viewOfert(ofert)"
              >

              

          </p>

          <div class="infoOferta centrar" id="{{ofert.titulo}}">


              <p>{{ofert.info}}</p>
              
              <img src="../../../assets/iconos/shutterstock_422824102.jpg" >

          </div>
      
      </div>
    
    </div>
    



    <ion-button style="margin:5px; float:right;"
    (click)="irASolicitud()"
    >
      solicitar servicio
    </ion-button>






</ion-content>
