.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.jeder{
    display: flex;
    //background: blue;
}



.anchoDebuscador::placeholder{
    width: 80%;
    padding: 5px;
    outline: none;
    border: transparent;
    border-bottom: 1px solid #414141;
    margin: auto;
    color: white;
    background: transparent;
}


.anchoDebuscador::content input, ::placeholder{
    color: #E3EAE6;
}
.filtroscontent{
    background: rgba($color: #414141, $alpha: 1.0);
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom-right-radius: 15px;
    color: white;
    //position:absolute;
    top:56px;
    z-index: 90;
    position: fixed;
}

.container{
    position: relative;
    padding-left: 25px;
    height: auto;
    font-size: 17px;
    margin-bottom: -20px;
    cursor: pointer;
}

.bu{
    width: 22px;
    height: 22px;
    background: white;
    position: absolute;
    top: 0px;
    border-radius: 3px;
    transition: 0.5s;
}


.iconoFiltro{
    width: 20px;
    height: 20px;
    margin: auto;
    cursor: pointer;
}

.opciones{
    //background: #000000;
    position: relative;
    margin-top: 10px;
    width: 98%;
    height: 30px;
    padding: 10px;
}

.opciones::content ion-button{
    position: absolute;
    right: 0;
    font-size: 12px;
    outline: none;
    height: 20px;
    width: 80px;
   
}


.lavanderiaCont{
    background: #e5e5e5;
    width: 45%;
    display: flex;
    //margin-bottom: 15px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
}
.contImgLavanderia{
    padding: 2px;
    //background: #3c9d9b;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    width: 50%;
    height: auto;
}

.contImgLavanderia::content img{
    height: auto;
    max-width: 100%;
    border-radius: 5px;

}

.botonVermas{
    width: 80px;
    height: 25px;
    margin-top: 45%;
    font-size: 10px;
    float:right;
}

ion-item.selectable:hover {
    background-color: #afaeb6 !important;
  }

.statusOpen{
    background: #23374d;
    color: #E3EAE6;
    text-align: center;
    width: 80px;
    padding: 4px;
    margin: 5px;
}  

.statusClose{
    //background: #ff0000;
    color: #3c9d9b;
    padding: 4px;
    margin-bottom: 30px;
    margin: 5px;
}  

@media(max-width:600px){
   

    .iconoFiltro{
        width: 18px;
        height: 18px;
        margin:5px auto;
    }
    .anchoDebuscador::content input{
        width: 79%;
    }

    .lavanderiaCont{
        //background: gray;
        margin: auto;
        width: 95%;
        margin-bottom: 45px;
    }


    .statusClose,.statusOpen{
        margin: 5px;
        margin-bottom: 30px;
    }
}