<ion-header>
  
  <ion-toolbar color='primary'>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/inicio"></ion-back-button>
       </ion-buttons> 
    <ion-title style="color: E3EAE6;">Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centrar">
  

  

  <div class="part centrar"  id="part1">

    <div class="centrar media"  >
      <img src="../../../assets/iconos/flaswash12.png" class="imagen">

      <ion-button 
      (click)="goOP('part2')"
      color="secondary">
        Iniciar sesion
      </ion-button>

      <ion-button  
      (click)="goOP('part3')"
      color="secondary">
        Registrarce
      </ion-button>

    </div>
   

  </div>































  <div class="part centrar" id="part2"> 

    <form class="formulario" style="margin-top: 10px;">
      <label >
        <img src="../../../assets/imagenes/user.png" style="width: 20px;">
        Nombre de usuario:</label>
      <ion-input type="text" placeholder="Nombre"></ion-input>

      <label >
        <img src="../../../assets/imagenes/key.png" style="width: 20px;">
        Contraseña: </label>
      <ion-input type="password" placeholder="***"></ion-input>

      
      <label class="centrar" style="font-size: 13px; color:#394a6d; cursor: pointer;">
          <img src="../../../assets/imagenes/information.png" style="width:18px;  margin-right: 3px;">
          ¿olvidaste tu contraseña?</label>
      

    </form>

    <div class="centrar" style="width: 90%; margin-top: 30px;">
    <ion-button 
    (click)="iniciarSecion()"
    color="tertiary">
        Aceptar
      </ion-button>
    
      <ion-button
      (click)="retornar('part2')"
      >
          Cancelar
      </ion-button>
    </div>
  </div>
 


























  <div class="part centrar" id="part3"> 

      <form class="formulario" style="margin-top: 10px;">
        <label >
          <img src="../../../assets/imagenes/user.png" style="width: 20px;">
          Nombre de usuario:</label>
        <ion-input type="text" placeholder="Nombre"></ion-input>

        <label >
          <img src="../../../assets/imagenes/key.png" style="width: 20px;">
          Contraseña: </label>
        <ion-input type="password" placeholder="***"></ion-input>


        <label >
            <img src="../../../assets/imagenes/lock.png" style="width: 20px;">
            Comfirma tu contraseña: </label>
        <ion-input type="password" placeholder="***"></ion-input>

        
        <label >
            <img src="../../../assets/imagenes/call-answer.png" style="width: 20px;">
            Tel: </label>
        <ion-input type="number" placeholder="000-000-0000"></ion-input>

        <label >
            <img src="../../../assets/imagenes/at.png" style="width: 20px;">
            Correo: </label>
        <ion-input type="text" placeholder="@"></ion-input>
        

      </form>

      <div class="centrar" style="width: 90%; margin-top: 30px;">
      <ion-button
      (click)="iniciarSecion()"
      color="tertiary">
          Aceptar
        </ion-button>
      
        <ion-button
        (click)="retornar('part3')"
        >
            Cancelar
        </ion-button>
      </div>
    </div>


</ion-content>